html, button, input, select, textarea { font-family: Ubuntu;}
body {padding:1em;}
h1 {border-bottom:1px solid #ddd;}
table td {padding:0.5em 1em;}
table tr {border-bottom:1px solid #ccc}
table thead {background-color:#ccc;}
#footer {font-size:80%; color:#888; margin-top:2em;}
